.card{
  margin: 1rem auto;
  max-width: 400px;
  padding: 1rem;
  background-color: #ffac7f;
}
button{
  border: none;
  padding: 1rem 2rem;
  margin-left: 2px;
}
.submit{
  background-color: lightblue;

}
.danger{
  background-color: red;
}